.filer-tabs {
    .nav-tabs {
        > li {
            > a {
                color: $gray;
                font-weight: 400;
                text-transform: uppercase;
                border: 0;
                border-radius: 0;
                &:hover {
                    color: $gray-darkest;
                    border: 0;
                    background: none;
                }
            }
        }
    }
}